.App {
  text-align: center; 
  width: 100%;
  background-position: center;
  background-image: url(../public/assets/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.starjedi{
  font-family: 'Poller One', cursive;
}
