.App {
  text-align: center; 
  background-color: #282c34;
}

/*---------SWAPI----------- */
/* 1. NAV */




/*-----------NAV-------------*/
.Nav { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px #000;
  background-color: #ffe81f;
}
.Nav a {
  text-decoration: none;
}

/*-----------NAV-------------*/